{{template "header"}}

<!--Contenido-->

      <!-- Main Content -->
      <main>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Protected</li>
          </ol>
        </nav>
        <h1>Protected</h1>
        <div class="row">
          <p>Hola <strong>{{.name}} - id: {{.id}}</strong></p>
          <p>
            <a href="javascript:void(0);" onclick="confirmarSweet('Wanted to log out?', '/security/logout');" class="btn btn-danger">
              <i class="fas fa-power-off"></i> Cerrar sesión
            </a>
          </p>
        </div>
      </main>
    </div>

<!--/Contenido-->
{{template "foot"}}