{{template "header"}}

<!--Contenido-->

      <!-- Main Content -->
      <main class="container">
         <h1>Paypal</h1>
         <ul>
            <li>
               <strong>Product</strong>: Mesa
            </li>
            <li>
               <strong>Value</strong>: USD10
            </li>
            <li>
               <strong>Quantity</strong>: 1
            </li>
            <li>
               <strong>Order</strong>: 24116416
            </li>
            <li>
               <strong>URL</strong>: {{.paypal_id}}
            </li>
            <li>
               <strong>TOKEN</strong>: {{.token}}
            </li>
         </ul>
      </main>
    </div>

<!--/Contenido-->
{{template "foot"}}