{{template "header"}}

<!--Contenido-->

      <!-- Main Content -->
      <main class="container">
         <h1>Paypal</h1>
         <ul>
            <li>
               <strong>Product</strong>: Mesa
            </li>
            <li>
               <strong>Value</strong>: USD10
            </li>
            <li>
               <strong>Quantity</strong>: 1
            </li>
            <li>
               <strong>Order</strong>: 24116416
            </li>
            <li>
               <strong>URL</strong>: https://www.sandbox.paypal.com/checkoutnow?token={{.paypal_id}}
            </li>
            <li>
               <strong>TOKEN</strong>: {{.token}}
            </li>
         </ul>
         <a href="https://www.sandbox.paypal.com/checkoutnow?token={{.paypal_id}}" class="btn btn-warning"><i class="fab fa-paypal"></i>Pay</a>
      </main>
    </div>

<!--/Contenido-->
{{template "foot"}}