{{template "header"}}

<!--Contenido-->

      <!-- Main Content -->
      <main class="container">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/resources">Resources</a></li>
            <li class="breadcrumb-item active" aria-current="page">Create PDF</li>
          </ol>
        </nav>
         <h1>Create Excel</h1>
         <div class="alert alert-success">Generate excel {{.name}} </div>
      </main>
    </div>

<!--/Contenido-->
{{template "foot"}}