{{template "header"}}

<!--Contenido-->

      <!-- Main Content -->
      <main class="container">
         <h1>Resources</h1>
         <ul>
            <li>
               <a href="/resources/pdf">Generate PDF</a>
            </li>
            <li>
               <a href="/resources/excel">Generate Excel</a>
            </li>
            <li>
               <a href="/resources/qr">Generate QR</a>
            </li>
            <li>
               <a href="/resources/send-email">Send email</a>
            </li>
         </ul>
      </main>
    </div>

<!--/Contenido-->
{{template "foot"}}